<a href="https://colab.research.google.com/github/IBMikeNichols/Daily-Warm-Ups/blob/master/Unit-1/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basics

## load a csv from the following url:

#### https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/

In [0]:
# A good practice is to keep your import statements to the top of your
# notebooks

import pandas as pd

In [0]:
# One thing you should begin practicing early is commenting your code!

# Another good practice is to use descriptive variable names

url = "https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data"

column_names=['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model year', 'origin', 'car name']

# looks like this file is tab delimited?
df = pd.read_csv(url, header=None, names=column_names, delim_whitespace=True)

In [24]:
# now print the first 5 rows of the data you just loaded
df.head()

    mpg  cylinders  displacement  ... model year  origin                   car name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]

In [25]:
# and the last 7
df.tail(7)

      mpg  cylinders  displacement  ... model year  origin           car name
391  36.0          4         135.0  ...         82       1  dodge charger 2.2
392  27.0          4         151.0  ...         82       1   chevrolet camaro
393  27.0          4         140.0  ...         82       1    ford mustang gl
394  44.0          4          97.0  ...         82       2          vw pickup
395  32.0          4         135.0  ...         82       1      dodge rampage
396  28.0          4         120.0  ...         82       1        ford ranger
397  31.0          4         119.0  ...         82       1         chevy s-10

[7 rows x 9 columns]

In [28]:
# how many rows are in the dataset?
df.describe()

              mpg   cylinders  ...  model year      origin
count  398.000000  398.000000  ...  398.000000  398.000000
mean    23.514573    5.454774  ...   76.010050    1.572864
std      7.815984    1.701004  ...    3.697627    0.802055
min      9.000000    3.000000  ...   70.000000    1.000000
25%     17.500000    4.000000  ...   73.000000    1.000000
50%     23.000000    4.000000  ...   76.000000    1.000000
75%     29.000000    8.000000  ...   79.000000    2.000000
max     46.600000    8.000000  ...   82.000000    3.000000

[8 rows x 7 columns]

In [0]:
# how many columns

9

In [0]:
# what is the shape of the dataset

(4176, 9)

### From the data directory load the iris dataset

In [0]:

column_headers = [
    "sepal-length", "sepal-width", "petal-length", "petal_width", "class"
]

df = 

# and print out the first 5 rows
df.head()

   sepal-length  sepal-width  petal-length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

## Make a basic graph using either of the above data sources when you're finished post the graph in the ds17 channel on slack

## Save a copy of your notebook to GitHub and submit a pull request to this repository